@{
    ViewData["Title"] = "Home Page";
}
<h1 class="petsTitle">Your Pets</h1>

<div class="theGrid">
    @foreach (var pet in Model)
      {
        @if (pet.GetRest() <= 0 || pet.GetAttention() <= 0 || pet.GetHunger() <= 0)
        {
            <div class="deadPet">
                <h3>@pet.GetName() died!</h3>
                <img src="images/dead.png" class="grave">
            </div>
        }
        else
        {
            <div class="alivePet">
                <img src="images/pet.gif" class="pet">
                <p class="center"><span class="theName">@pet.GetName()</span><p>
                <p>Rest: @pet.GetRest()<p>
                <p>Attention: @pet.GetAttention()<p>
                <p>Hunger: @pet.GetHunger()<p>
                <p>Age: @pet.GetAge()<p>
                <form method="post" action="/pets/feed/@pet.GetId()">
                    <button class="btn btn-info" type="submit">Give food</button>
                </form>
                <form method="post" action="/pets/attention/@pet.GetId()">
                    <button class="btn btn-info" type="submit">Give Attention</button>
                </form>
                <form method="post" action="/pets/rest/@pet.GetId()">
                    <button class="btn btn-info" type="submit">Let Rest</button>
                </form>
            </div> 
        }

      }
</div>

<a href='/form'><button class="btn btn-success addNewButton">Add new item</button></a> 
<form method="post" action="pets/clear">
    <button class="btn btn-success addNewButton">Clear all pets</button>
</form>

